<%- model_class = Manutencao -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:detalhes) %></th>
      <th><%= model_class.human_attribute_name(:previsao) %></th>
      <th><%= model_class.human_attribute_name(:veiculo_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @veiculo.manutencoes.each do |manutencao| %>
    <tr>
      <td><%= link_to manutencao.id, manutencao_path(manutencao) %></td>
      <td><%= manutencao.data %></td>
      <td><%= manutencao.valor %></td>
      <td><%= manutencao.detalhes %></td>
      <td><%= manutencao.previsao %></td>
      <td><%= manutencao.veiculo_id %></td>
      <td><%=l manutencao.created_at %></td>
      <td>
        <%= link_to t('.show', :default => t("helpers.links.show")),
        veiculo_manutencao_path(@veiculo, manutencao), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_veiculo_manutencao_path(@veiculo, manutencao), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        veiculo_manutencao_path(@veiculo, manutencao),
        :method => :delete,
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-xs btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_veiculo_manutencao_path,
            :class => 'btn btn-primary' %>
