<%- model_class = Limpeza -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:veiculo_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @limpezas.each do |limpeza| %>
      <tr>
        <td><%= link_to limpeza.id, limpeza_path(limpeza) %></td>
        <td><%= limpeza.data %></td>
        <td><%= limpeza.valor %></td>
        <td><%= limpeza.veiculo_id %></td>
        <td><%=l limpeza.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      limpeza_path(limpeza), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_limpeza_path(limpeza), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      limpeza_path(limpeza),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_limpeza_path,
            :class => 'btn btn-primary' %>
